<h3>Informaçoes Pessoais</h3>

<div class="row">
    <div class="col-sm-10">
        <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput type="text" [(ngModel)]="pessoa.nome" required>
            <button mat-button *ngIf="pessoa.nome" matSuffix mat-icon-button aria-label="Clear" (click)="pessoa.nome=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="col-sm-2">
        <mat-form-field appearance="outline">
            <mat-label>Idade</mat-label>
            <input matInput type="number" mask="000" [(ngModel)]="pessoa.idade" required>
            <button mat-button *ngIf="pessoa.idade" matSuffix mat-icon-button aria-label="Clear" (click)="pessoa.idade=0">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <mat-form-field appearance="outline">
            <mat-label>Data de Nascimento</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="pessoa.dataNascimento" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="col-sm-4">
        <mat-form-field appearance="outline">
            <mat-label>CPF</mat-label>
            <input matInput type="text" mask="000.000.000-00" [(ngModel)]="pessoa.cpf" required>
            <button mat-button *ngIf="pessoa.cpf" matSuffix mat-icon-button aria-label="Clear" (click)="pessoa.cpf=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="col-sm-4">
        <mat-form-field appearance="outline">
            <mat-label>RG</mat-label>
            <input matInput type="text" [(ngModel)]="pessoa.rg" required>
            <button mat-button *ngIf="pessoa.rg" matSuffix mat-icon-button aria-label="Clear" (click)="pessoa.rg=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
</div>