<h3>Informaçoes Pessoais</h3>

<div class="row">
    <div class="col-sm-4">
        <mat-form-field appearance="outline">
            <mat-label>Data de Nascimento</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="pessoaForm.dataNascimento">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="col-sm-3">
        <mat-form-field appearance="outline">
            <mat-label>CPF</mat-label>
            <input matInput type="text" mask="000.000.000-00" [(ngModel)]="pessoaForm.cpf">
            <button mat-button *ngIf="pessoaForm.cpf" matSuffix mat-icon-button aria-label="Clear" (click)="pessoaForm.cpf=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="col-sm-3">
        <mat-form-field appearance="outline">
            <mat-label>RG</mat-label>
            <input matInput type="text" [(ngModel)]="pessoaForm.rg">
            <button mat-button *ngIf="pessoaForm.rg" matSuffix mat-icon-button aria-label="Clear" (click)="pessoaForm.rg=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="col-sm-2">
        <mat-form-field appearance="outline">
            <mat-label>Idade</mat-label>
            <input matInput type="text" mask="000" [(ngModel)]="pessoaForm.idade">
            <button mat-button *ngIf="pessoaForm.idade" matSuffix mat-icon-button aria-label="Clear" (click)="pessoaForm.idade=0">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
</div>