<h2>Cadastro de Filiais</h2>

<h3>Dados da Filial</h3>
<div class="row">
    <div class="col-sm-4">
        <mat-form-field appearance="outline">
            <mat-label>CNPJ</mat-label>
            <input matInput type="text" mask="00.000.000/0000-00" [(ngModel)]="filialDto.filialForm.cnpj" required>
            <button mat-button *ngIf="filialDto.filialForm.cnpj" matSuffix mat-icon-button aria-label="Clear" (click)="filialDto.filialForm.cnpj=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="col-sm-8">
        <mat-form-field appearance="outline">
            <mat-label>Nome Fantasia</mat-label>
            <input matInput type="text" [(ngModel)]="filialDto.filialForm.razaoSocial" required>
            <button mat-button *ngIf="filialDto.filialForm.razaoSocial" matSuffix mat-icon-button aria-label="Clear" (click)="filialDto.filialForm.razaoSocial=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <mat-form-field appearance="outline">
            <mat-label>Inscrição Estadual</mat-label>
            <input matInput type="text" [(ngModel)]="filialDto.filialForm.inscricaoEstadual" required>
            <button mat-button *ngIf="filialDto.filialForm.inscricaoEstadual" matSuffix mat-icon-button aria-label="Clear" (click)="filialDto.filialForm.inscricaoEstadual=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="col-sm">
        <mat-checkbox class="example-margin" [(ngModel)]="filialDto.filialForm.bloqueado">Bloqueado</mat-checkbox>
    </div>
</div>

<app-endereco-form [endereco]="filialDto.enderecoForm"></app-endereco-form>

<button mat-raised-button type="button" color="primary" (click)="onSave()">Salvar</button>
<button mat-raised-button type="button" color="accent" [routerLink]=" ['/filiais'] ">Voltar</button>
<button mat-raised-button type="button" color="warn" [hidden]="idFilial === undefined? true:false" (click)="onDelete()">Deletar</button>