.login {
    height: 100%;
    padding: 2rem;
    //Quando for telas maiores
    @media (min-width: 576px) {
        max-width: 30rem;
    }
}

.logo-imagem {
    margin-bottom: 5rem;
}

.mat-raised-button {
    margin-right: 5px;
}

.position-relative {
    height: 100%;
}