.mat-raised-button {
    margin-right: 5px;
}

.chave-indisponivel {
    background-color: #98FB98;
    font-weight: bold;
    height: 30px;
    padding: 5px;
    margin-right: 10px;
    border-radius: 25px;
}

.chave-existe {
    background-color: #ffff56;
    font-weight: bold;
    height: 30px;
    padding: 5px;
    margin-right: 10px;
    border-radius: 25px;
}