<h3>Infromações de Acesso</h3>

<div class="row">
    <div class="col-sm-8">
        <mat-form-field appearance="outline">
            <mat-label>Nome Completo</mat-label>
            <input class="meutexto" matInput type="text" [(ngModel)]="infoAcessoForm.nome" required>
            <button mat-button *ngIf="infoAcessoForm.nome" matSuffix mat-icon-button aria-label="Clear" (click)="infoAcessoForm.nome=''">
                <mat-icon>close</mat-icon>
            </button>
            <mat-hint>Hint</mat-hint>
        </mat-form-field>
    </div>

    <div class="col-sm-4">
        <mat-form-field appearance="outline">
            <mat-label>Perfil</mat-label>
            <mat-select [(value)]="infoAcessoForm.tipo" required>
                <mat-option value="COLABORADOR">Colaborador</mat-option>
                <mat-option value="GESTOR">Gestor</mat-option>
                <mat-option value="ADMIN">Admin</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input matInput type="text" [(ngModel)]="infoAcessoForm.email" required>
            <button mat-button *ngIf="infoAcessoForm.email" matSuffix mat-icon-button aria-label="Clear" (click)="infoAcessoForm.email=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="col-sm-2">
        <mat-checkbox class="example-margin" [(ngModel)]="infoAcessoForm.bloqueado">Bloqueado</mat-checkbox>
    </div>
    <div class="col-sm-4">
        <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="infoAcessoForm.senha" name="senha" id="senha" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Ocultar senha'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    </div>
</div>