<h3>Endereço</h3>

<div class="row">
    <div class="col-sm-10">
        <mat-form-field appearance="outline">
            <mat-label>Rua</mat-label>
            <input matInput type="text" [(ngModel)]="endereco.rua" required>
            <button mat-button *ngIf="endereco.rua" matSuffix mat-icon-button aria-label="Clear" (click)="endereco.rua=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="col-sm-2">
        <mat-form-field appearance="outline">
            <mat-label>Número</mat-label>
            <input matInput type="text" [(ngModel)]="endereco.numero" required>
            <button mat-button *ngIf="endereco.numero" matSuffix mat-icon-button aria-label="Clear" (click)="endereco.numero=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <mat-form-field appearance="outline">
            <mat-label>Bairro</mat-label>
            <input matInput type="text" [(ngModel)]="endereco.bairro" required>
            <button mat-button *ngIf="endereco.bairro" matSuffix mat-icon-button aria-label="Clear" (click)="endereco.bairro=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="col-sm-4">
        <mat-form-field appearance="outline">
            <mat-label>Cidade</mat-label>
            <input matInput type="text" [(ngModel)]="endereco.cidade" required>
            <button mat-button *ngIf="endereco.cidade" matSuffix mat-icon-button aria-label="Clear" (click)="endereco.cidade=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="col-sm-4">
        <mat-form-field appearance="outline">
            <mat-label>Cep</mat-label>
            <input matInput type="text" [(ngModel)]="endereco.cep" required>
            <button mat-button *ngIf="endereco.cep" matSuffix mat-icon-button aria-label="Clear" (click)="endereco.cep=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col-sm">
        <mat-form-field appearance="outline">
            <mat-label>Complemento</mat-label>
            <input matInput type="text" [(ngModel)]="endereco.complemento" required>
            <button mat-button *ngIf="endereco.complemento" matSuffix mat-icon-button aria-label="Clear" (click)="endereco.complemento=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
</div>