.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.conteudo {
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: gainsboro;
    background-color: white;
}