<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar>Pitaia</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item href="" routerLink="/">
                <mat-icon>home</mat-icon>
                <div>Início</div>
            </a>
            <a mat-list-item href="" routerLink="/filiais">
                <mat-icon>apartment</mat-icon>
                <div>Filiais</div>
            </a>
            <a mat-list-item href="" routerLink="/administrativo">
                <mat-icon>home</mat-icon>
                <div>Administrativo</div>
            </a>

            <a mat-list-item href="" routerLink="/usuarios">
                <mat-icon>manage_accounts</mat-icon>
                <div>Usuários</div>
            </a>

            <a mat-list-item href="" routerLink="/colaboradores">
                <mat-icon>groups</mat-icon>
                <div>Colaborador</div>
            </a>

            <a mat-list-item href="#">
                <mat-icon>history</mat-icon>
                <div>Histórico</div>
            </a>

            <a mat-list-item href="" routerLink="/dispositivos">
                <mat-icon>devices_other</mat-icon>
                <div>Dispositivos</div>
            </a>

            <a mat-list-item href="#">
                <mat-icon>analytics</mat-icon>
                <div>Relatórios</div>
            </a>

            <a mat-list-item href="#">
                <mat-icon>settings</mat-icon>
                <div>Configurações</div>
            </a>

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="px-0" color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>



            <div class="w-100 h-100 d-flex justify-content-end align-items-center" style="border-style: groove; border-color: blue;">


                <app-user-info class="" style="border-style: dotted; border-color: brown;" [email]=" email ">
                </app-user-info>
            </div>



        </mat-toolbar>
        <!-- Add Content Here -->
        <div class="conteudo ">
            <router-outlet></router-outlet>
        </div>

        <app-footer></app-footer>

    </mat-sidenav-content>
</mat-sidenav-container>