<h2>Cadastro do colaborador</h2>

<h3>Informações Trabalhistas</h3>

<div class="row">
    <div class="col-sm-5">
        <mat-form-field appearance="outline">
            <mat-label>Usuário de Vinculação</mat-label>
            <mat-select [(value)]="infoColaboradorForm.usuarioId" required>
                <mat-option *ngFor="let usuario of usuarios" [value]="usuario.infoAcessoForm.id">
                    {{ usuario.infoAcessoForm.nome }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-sm-5">
        <mat-form-field appearance="outline">
            <mat-label>Filial de Vinculação</mat-label>
            <mat-select [(value)]="infoColaboradorForm.filialId" required>
                <mat-option *ngFor="let filial of filiais" [value]="filial.filialForm.id">
                    {{ filial.filialForm.razaoSocial }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-sm-2">
        <mat-checkbox class="example-margin" [(ngModel)]="infoColaboradorForm.bloqueado">Bloqueado</mat-checkbox>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <mat-form-field appearance="outline">
            <mat-label>Cargo</mat-label>
            <input matInput type="text" [(ngModel)]="infoColaboradorForm.cargo" required>
            <button mat-button *ngIf="infoColaboradorForm.cargo" matSuffix mat-icon-button aria-label="Clear" (click)="infoColaboradorForm.cargo=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="col-sm-4">
        <mat-form-field appearance="outline">
            <mat-label>Setor</mat-label>
            <input matInput type="text" [(ngModel)]="infoColaboradorForm.setor" required>
            <button mat-button *ngIf="infoColaboradorForm.setor" matSuffix mat-icon-button aria-label="Clear" (click)="infoColaboradorForm.setor=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="col-sm-2">
        <mat-form-field appearance="outline">
            <mat-label>Ramal</mat-label>
            <input matInput type="text" [(ngModel)]="infoColaboradorForm.ramal">
            <button mat-button *ngIf="infoColaboradorForm.ramal" matSuffix mat-icon-button aria-label="Clear" (click)="infoColaboradorForm.ramal=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="col-sm-2">
        <mat-form-field appearance="outline">
            <mat-label>PIS/PASEP</mat-label>
            <input matInput type="text" [(ngModel)]="infoColaboradorForm.pisPasep">
            <button mat-button *ngIf="infoColaboradorForm.pisPasep" matSuffix mat-icon-button aria-label="Clear" (click)="infoColaboradorForm.pisPasep=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <mat-form-field appearance="outline">
            <mat-label>CTPS</mat-label>
            <input matInput type="text" [(ngModel)]="infoColaboradorForm.ctps">
            <button mat-button *ngIf="infoColaboradorForm.ctps" matSuffix mat-icon-button aria-label="Clear" (click)="infoColaboradorForm.ctps=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="col-sm-3">
        <mat-form-field appearance="outline">
            <mat-label>Série</mat-label>
            <input matInput type="text" [(ngModel)]="infoColaboradorForm.serie">
            <button mat-button *ngIf="infoColaboradorForm.serie" matSuffix mat-icon-button aria-label="Clear" (click)="infoColaboradorForm.serie=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="col-sm-3">
        <mat-form-field appearance="outline">
            <mat-label>Data de Admissão</mat-label>
            <input matInput [matDatepicker]="pickerAdmissao" [(ngModel)]="infoColaboradorForm.dataAdmissao">
            <mat-datepicker-toggle matSuffix [for]="pickerAdmissao"></mat-datepicker-toggle>
            <mat-datepicker #pickerAdmissao></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="col-sm-3">
        <mat-form-field appearance="outline">
            <mat-label>Data de Demissão</mat-label>
            <input matInput [matDatepicker]="pickerDemissao" [(ngModel)]="infoColaboradorForm.dataDemissao">
            <mat-datepicker-toggle matSuffix [for]="pickerDemissao"></mat-datepicker-toggle>
            <mat-datepicker #pickerDemissao></mat-datepicker>
        </mat-form-field>
    </div>
</div>

<button mat-raised-button type="button" color="primary" (click)="onSave()">Salvar</button>
<button mat-raised-button type="button" color="accent" [routerLink]=" ['/colaboradores'] ">Voltar</button>
<button mat-raised-button type="button" color="warn" [hidden]="idColaborador === undefined? true:false" (click)="onDelete()">Deletar</button>