/* You can add global styles to this file, and also import other style files */

$grid-breakpoints: ( xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1400px);
html,
body {
    height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-toolbar {
    height: 45px;
}

.page-title {
    font-size: larger;
    min-width: max-content;
}


/* Define o tamaho dos input */

mat-form-field.mat-form-field {
    font-size: 13px;
    width: 100%;
}


/* Define o tamaho do texto dentro dos input */

mat-label {
    font-size: 14px;
}