/* You can add global styles to this file, and also import other style files */

$grid-breakpoints: ( xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1400px);
html,
body {
    height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-toolbar {
    height: 45px;
}

.page-title {
    font-size: larger;
    min-width: max-content;
}

// Input do Angular Material
mat-form-field.mat-form-field {
    font-size: 14px; // Tamanho dos input do Angular Material
    width: 100%; // Todos os input ocupa 100% da div disponivel
}

// Espaçamento de Coluna de tabelas
.full-space {
    width: 100%;
    @media (min-width: 576px) {
        width: auto;
    }
}

//Espacamento entre Colunas de todas as tabelas
th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
    padding-left: 6px !important;
}