<div class="d-flex align-items-center">
    <div class="position-relative">
        <p class="page-title position-absolute top-50 start-0 translate-middle-y">
            <strong>Filiais</strong>
        </p>
    </div>

    <a mat-raised-button color="primary" class="ms-auto" [routerLink]="['/filiais/cadastro']">
        <mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon>
        Cadastrar
    </a>
</div>

<div class="table-responsive">
    <div class="table">
        <table mat-table [dataSource]="filiaisDtoList" class="w-100">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Item </th>
                <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
            </ng-container>

            <ng-container matColumnDef="razaoSocial">
                <th mat-header-cell *matHeaderCellDef> Razão Social </th>
                <td mat-cell *matCellDef="let element"> {{element.filialForm.razaoSocial}} </td>
            </ng-container>

            <ng-container matColumnDef="bloqueado">
                <th mat-header-cell *matHeaderCellDef> Bloqueado </th>
                <td mat-cell *matCellDef="let element"> {{element.filialForm.bloqueado}} </td>
            </ng-container>

            <ng-container matColumnDef="cnpj" class="visible">
                <th mat-header-cell *matHeaderCellDef> CNPJ </th>
                <td mat-cell *matCellDef="let element" mask="00.000.000/0000-00"> {{element.filialForm.cnpj}} </td>
            </ng-container>

            <ng-container matColumnDef="inscricaoEstadual">
                <th mat-header-cell *matHeaderCellDef> Inscrição Estadual </th>
                <td mat-cell *matCellDef="let element"> {{element.filialForm.inscricaoEstadual}} </td>
            </ng-container>

            <ng-container matColumnDef="acao">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <a mat-flat-button [routerLink]="['/filiais/cadastro', element.filialForm.id]">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">visibility</mat-icon>
                    </a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>